
CompileFlags:
    Add:
        - -std=c++17
        - --no-cuda-version-check
    Remove:
        - --generate-code=arch=compute_86,code=[compute_86,sm_86]
        - -forward-unknown-to-host-compiler
        - -G